{% extends 'catalog/base.html' %}
{% block content %}
{% if object %}
    <h4>Редактирование продукта</h4>
{% else %}
    <h4>Добавление продукта</h4>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if object %}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    {% else %}
    <button type="submit" class="btn btn-success">Добавить</button>
    {% endif %}
    <a href="{% url 'catalog:product_list' %}" class="btn btn-danger">Отмена</a>
</form>
{% endblock %}
{% block banner %}{% endblock %}